* {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 254, 246);
  color: #333;
}

body {
  display: grid;
  grid-template-columns: auto 980px auto;
  justify-content: center;
}

.content {
  grid-column: 2 / 3;
}

.title {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.title-main {
  background-color: #333;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 2.25rem;
  font-weight: 1000;
  text-align: center;
  padding: 0.75rem 0rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.title-main-sub {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  padding: 0.5rem 0rem;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.vis-group {
  display: grid;
}

.vis-text {
  padding: 0rem 1rem;
}

.vis {
  background-color: white;
  display: grid;
  margin-top: 1.2rem;
  border-radius: 18px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.vis-title {
  background-color: #113654;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 0.25rem;
  padding: 0.5rem 1rem;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.vis-buttons {
  background-color: white;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.25rem;
  margin-right: 0.2rem;
}

.vis-buttons > button {
  cursor: pointer;
  color: white;
  text-shadow: #333 0px 0px 3px;
  -webkit-font-smoothing: antialiased;
  border: none;
  outline: 0;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all .15s ease;
}

.vis-buttons > button:hover {
  background-color: #555 !important;
}

.vis-switch {
  grid-column: auto auto auto;
  grid-auto-flow: column;
  background-color: white;
  display: grid;
  grid-gap: 0.5rem;
  justify-self: center;
}

canvas {
  background-color: white;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

hr {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 980px) {
  body {
    grid-template-columns: auto;
  }

  .content {
    grid-column: 1 / 2;
  }
}

/* Other styles */
.selected {
  fill: white;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

.checkbox span {
  font-size: 20px;
}

.not-enough-cols {
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: center;
  width: 400px;
}

.description {
  max-width: 370px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full {
  height: 100%;
  top: 0;
  width: 100%;
}

.rv-hint {
  background: black;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  padding: 6px;
  text-transform: uppercase;
}

.switch {
  /* background-color: white; */
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#switch-container {
  vertical-align: middle;
  padding: 3px;
  margin: 2px;
}
