/* EDIT ANYTHING YOU WANT */
.title {
  color: black;
  font-family: Roboto-Black;
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  color: black;
  font-family: Roboto-Black;
  font-size: 12px;
  font-weight: semi-bold;
}

.max-width-1000 {
  max-width: 1000px;
}

.center {
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: auto;
}

.flex {
  display: flex;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.state-hex {
  dominant-baseline: central;
  text-anchor: middle;
}

.state-hex-label {
  font-family: Roboto;
  font-size: 10px;
  pointer-events: none;
}

.selected {
  fill: white;
}

.checkbox input {
  height: 20px;
  width: 20px;
}

.checkbox span {
  font-size: 20px
}


.not-enough-cols {
  align-items: center;
  display: flex;
  font-size: 40px;
  justify-content: center;
  width: 400px;
}

.description {
  max-width: 370px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.full {
  height: 100%;
  top: 0;
  width: 100%;
}

.rv-hint {
  background: black;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  font-size: 10px;
  padding: 6px;
  text-transform: uppercase;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#switch-container {
  vertical-align: middle;
  padding: 3px;
  margin: 2px;
}